.color-sw {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: transform 0.15s;
}
.color-sw:hover {
  transform: scale(1.15);
}
.color-sw.on {
  border-color: #fff;
  transform: scale(1.15);
}
